h1 {
	margin: auto;
	position: center;
	padding: 40px;
	width: 60%;
	font-size: 1em;
	font-family: futura;
	text-align: center;
	background-color: #EDE2FF;	
}

p {
	margin: auto;
	margin-top: 4em;
	position: center;
	padding: 20px;
	width: 50%;
    border-radius: 0 0 0 0;
	font-size: 1em;
	font-family: futura;
	text-align: center;
	background-color: #D6D3FF;
	transition: .5s;
	
	
}
textarea{
	display: block;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}

.centered, .clickable {
	margin: auto;
	margin-top: 1em;
	position: relative;
	padding: 20px;
	width: 50%;
	font-size: 1.5em;
	font-family: futura;
}

.centeredHeader {
	margin: auto;
	margin-top: 1em;
	position: relative;
	padding: 20px;
	width: 60%;
	font-size: 1.5em;
	font-family: futura;
}

.clickable:hover {
	width: 50%;
    transition: .5s;
    background-color: #A9A5DC;
    border-radius: 50px 50px 50px 50px;
}


a:hover{
	text-decoration: none;
	color: white;
}


#fixedbutton {
    position: fixed;
    text-align: center;
    bottom: 20px;
    left: 10px; 
    padding: 14px 16px;
    width: 3em;
    margin: auto;
   	background-color: black;
   	border-color: #ac2c23;
   	border-radius: 50px;
   	border-width: 10px;	
    font-family: Verdana;
    font-size: 2em;
    color: white;
   
}

